apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
    component: database
type: Opaque
stringData:
  POSTGRES_USER: amoona
  POSTGRES_PASSWORD: changeme-in-overlay
  POSTGRES_DB: amoona_db