apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: amoona-api-dev-light

namespace: amoona-dev

resources:
  - ../../../../base/apps/amoona-api
  - secrets.yaml

patches:
  - path: deployment-patch.yaml

labels:
  - pairs:
      environment: dev
      config: light
    includeSelectors: false

images:
  # GitLab Container Registry
  # Format: registry.gitlab.com/GROUP/PROJECT/IMAGE:TAG
  - name: registry.gitlab.com/hypnozsarl/amoona-api
    newTag: "latest"

configMapGenerator:
  - name: amoona-api-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=dev
      # Pas de Logstash dans la config light
      - LOGGING_LEVEL_ROOT=INFO
