apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - secret.yaml
  - configmap-servers.yaml
  - deployment.yaml
  - service.yaml

labels:
  - pairs:
      tier: database-management
