apiVersion: v1
kind: Service
metadata:
  name: {{SERVICE_NAME}}
  labels:
    app: {{SERVICE_NAME}}
    tier: cache
spec:
  type: ClusterIP
  ports:
    - port: {{PORT}}
      targetPort: {{PORT}}
      protocol: TCP
      name: redis
  selector:
    app: {{SERVICE_NAME}}
