apiVersion: v1
kind: Service
metadata:
  name: amoona-api
  labels:
    app: amoona-api
    app.kubernetes.io/name: amoona-api
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: amoona-api
