apiVersion: apps/v1
kind: Deployment
metadata:
  name: amoona-front
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: amoona-front
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: amoona-front
spec:
  minReplicas: 2
  maxReplicas: 10