apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
  labels:
    app: grafana
    component: monitoring
type: Opaque
stringData:
  GF_SECURITY_ADMIN_USER: admin
  GF_SECURITY_ADMIN_PASSWORD: changeme-in-overlay