apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: amoona-api-dev

namespace: amoona-dev

resources:
  - ../../../../base/apps/amoona-api
  - ingress.yaml
  - secrets.yaml

patches:
  - path: replicas-patch.yaml
  - path: resources-patch.yaml
  - path: hpa-patch.yaml

labels:
  - pairs:
      environment: dev
    includeSelectors: false

images:
  # GitLab Container Registry
  - name: registry.gitlab.com/hypnozsarl/amoona-api
    newTag: "1e1a6d83"

configMapGenerator:
  - name: amoona-api-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=dev
