apiVersion: apps/v1
kind: Deployment
metadata:
  name: amoona-api
spec:
  template:
    spec:
      containers:
        - name: amoona-api
          resources:
            requests:
              memory: "256Mi"
              cpu: "50m"
            limits:
              memory: "768Mi"
              cpu: "300m"
