apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: amoona-api-dev
  namespace: argocd
  labels:
    app.kubernetes.io/name: amoona-api
    environment: dev
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/hypnozSarl/amoona-deployer.git
    targetRevision: main
    path: k8s/overlays/dev/apps/amoona-api
  destination:
    server: https://kubernetes.default.svc
    namespace: amoona-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
