apiVersion: v1
kind: Service
metadata:
  name: prometheus
  labels:
    app: prometheus
    component: monitoring
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: 9090
      name: http
  selector:
    app: prometheus