apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: amoona-api-prod

namespace: amoona-prod

resources:
  - ../../../../base/apps/amoona-api
  - ingress.yaml
  - secrets.yaml

patches:
  - path: replicas-patch.yaml
  - path: resources-patch.yaml

labels:
  - pairs:
      environment: prod
    includeSelectors: false

images:
  - name: ghcr.io/hypnozsarl/amoona-api
    newTag: latest

configMapGenerator:
  - name: amoona-api-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=prod
