apiVersion: apps/v1
kind: Deployment
metadata:
  name: amoona-front
spec:
  replicas: 1
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: amoona-front
spec:
  minReplicas: 1
  maxReplicas: 3