apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cert-manager
  - infra
  - monitoring
  - ingress
  - apps
  - security
  - service-mesh
  - security-scanning
  - audit-logging